<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
  <meta id="dataStats" content="{&quot;allTestingCount&quot;:1,&quot;allStagingCount&quot;:1,&quot;samlProductionCount&quot;:0,&quot;samlStagingCount&quot;:0,&quot;oidcProductionCount&quot;:1,&quot;samlTestingCount&quot;:1,&quot;oidcTestingCount&quot;:0,&quot;oidcStagingCount&quot;:1,&quot;allProductionCount&quot;:1}"
        th:content="${statisticsJson}">
  <meta id="showOidc" content="true" th:content="${showOidc}">
  <meta id="showSaml" content="true" th:content="${showSaml}">
  <meta id="showTesting" content="true" th:content="${showTesting}">
  <meta id="showStaging" content="true" th:content="${showStaging}">
  <meta id="showProduction" content="true" th:content="${showProduction}">
  <meta id="productionServicesOidc" content="OIDC Production" th:content="#{production_services_oidc}">
  <meta id="stageServicesOidc" content="OIDC Staging" th:content="#{stage_services_oidc}">
  <meta id="testServicesOidc" content="OIDC Test" th:content="#{test_services_oidc}">
  <meta id="productionServicesSaml" content="SAML Production" th:content="#{production_services_saml}">
  <meta id="stageServicesSaml" content="SAML Staging" th:content="#{stage_services_saml}">
  <meta id="testServicesSaml" content="SAML Test" th:content="#{test_services_saml}">
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"
        th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
  <link rel="stylesheet" type="text/css" href="../static/css/default.css"
        th:href="@{/res/css/default.css}" />
  <th:block th:replace="${header_path} :: header_head">
    <link rel="stylesheet" href="../static/css/backup_cesnet.css" th:href="@{/res/css/backup_cesnet.css}" type="text/css">
  </th:block>
  <link  rel="stylesheet" href="../static/css/list_of_rps.css"
         th:href="@{/res/css/list_of_rps.css}"/>
  <link rel="stylesheet" href="../static/css/Chart.min.css"
        th:href="@{/res/css/Chart.min.css}"/>
  <title th:text="#{list_of_rps_title}">List of relying services</title>
<body>
<div id="wrap">
  <!-- REPLACEABLE HEADER -->
  <th:block th:if="${language_bar_enabled}" th:replace="${header_path} :: languagebar">
    <div id="languagebar_line">
      <div id="languagebar">
        <a href="">English</a> | Čeština
      </div>
    </div>
  </th:block>
  <div id="header">
    <th:block th:replace="${header_path} :: header_logo">
      <img src="https://login.cesnet.cz/proxy/module.php/cesnet/res/img/cesnet_RGB.png" alt="logo"/>
    </th:block>
    <h1 th:text="#{list_of_rps_title}">List of Relying Services</h1>
  </div>
  <!-- CONTENT -->
  <div id="content">
    <div class="row">
      <h3 class="col-xs-12" th:text="#{statistics}">Statistics</h3>
      <div class="col-xs-12">
        <div class="row">
          <!-- COUNT TABLE -->
          <div class="col-md-6">
            <table class="table table-stats">
              <tr>
                <th></th>
                <th th:if="${showProduction}" th:text="#{production_services}">Production services</th>
                <th th:if="${showStaging}" th:text="#{stage_services}">Stage services</th>
                <th th:if="${showTesting}" th:text="#{test_services}">Test services</th>
              </tr>
              <tr th:if="${showOidc && showSaml}">
                <th th:text="#{all}">All</th>
                <td th:if="${showProduction}" th:text="${statistics.get('allProductionCount')}"
                    class="center">2</td>
                <td th:if="${showStaging}" th:text="${statistics.get('allStagingCount')}"
                    class="center">2</td>
                <td th:if="${showTesting}" th:text="${statistics.get('allTestingCount')}"
                    class="center">2</td>
              </tr>
              <tr th:if="${showSaml}">
                <th>SAML</th>
                <td th:if="${showProduction}" th:text="${statistics.get('samlProductionCount')}"
                    class="center">1</td>
                <td th:if="${showStaging}" th:text="${statistics.get('samlStagingCount')}"
                    class="center">1</td>
                <td th:if="${showTesting}" th:text="${statistics.get('samlTestingCount')}"
                    class="center">1</td>
              </tr>
              <tr th:if="${showOidc}">
                <th>OIDC</th>
                <td th:if="${showProduction}" th:text="${statistics.get('oidcProductionCount')}"
                    class="center">1</td>
                <td th:if="${showStaging}" th:text="${statistics.get('oidcStagingCount')}"
                    class="center">1</td>
                <td th:if="${showTesting}" th:text="${statistics.get('oidcTestingCount')}"
                    class="center">1</td>
              </tr>
            </table>
          </div>
          <!-- CHART -->
          <div class="col-md-6 center">
            <canvas id="myChart"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h3 th:text="#{services}">Services</h3>
      </div>
      <div class="col-xs-12 table-responsive">
        <table class="table table-striped" id="table1">
          <thead>
            <tr>
              <th th:if="${services.size() > 0}" th:each="attr: ${attributes}"
                  th:class="${services.get(0).getAttributes().get(attr.getSourceAttrName()).getType()}"
                  th:text="#{${attr.getLocalizationKey()}}">Attr name</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="service: ${services}">
              <td th:each="displayAttr: ${attributes}"
                  th:with="attr=${service.getAttributes().get(displayAttr.getSourceAttrName())},
                           type=${service.getAttributes().get(displayAttr.getSourceAttrName()).getType()},
                           url=${service.getAttributes().getOrDefault(displayAttr.getUrlSourceAttr(), null) == null ?
                               null : service.getAttributes().get(displayAttr.getUrlSourceAttr()).valueAsString() }">
                <!-- NULL VALUE -->
                <div th:if="${attr.getValue()} == null" class="center">&horbar;</div>
                <!-- STRING AND LARGE STRING -->
                <div th:if="${#strings.equals(type, 'java.lang.String') or #strings.equals(type, 'java.lang.LargeString')}"
                     th:with="value=${attr.valueAsString()}">
                  <div th:if="${url != null}">
                    <a class='customLink' th:href="${url}"
                       th:text="${value}">Attribute value STRING LINK</a>
                  </div>
                  <div th:unless="${url != null}" th:text="${value}">Attribute value STRING</div>
                </div>
                <!-- INTEGER -->
                <div th:if="${#strings.equals(type, 'java.lang.Integer')}" th:with="value=${attr.valueAsInteger()}">
                  <div th:text="${value}">NUMERIC VALUE</div>
                </div>
                <!-- BOOLEAN -->
                <div th:if="${type eq 'java.lang.Boolean'}" th:with="value=${attr.valueAsBoolean()}"
                     th:text="value ? '&#x2714;' : '&#x2715;'">&#x2714; OR &#x2715;</div>
                <!-- ARRAY LIST AND LARGE ARRAY LIST -->
                <div th:if="${#strings.equals(type, 'java.util.ArrayList') or #strings.equals(type, 'java.util.LargeArrayList')}"
                     th:with="value=${attr.valueAsList()}">
                  <div th:if="${value.size() > 0}">
                    <ul>
                      <li th:each="subvalue: ${value}" th:text="${subvalue}">LIST SUB VALUE</li>
                    </ul>
                  </div>
                  <div th:unless="${value.size() > 0}" class="center">&horbar;</div>
                </div>
                <!-- MAP -->
                <div th:if="${#strings.equals(type, 'java.util.LinkedHashMap')}" th:with="value=${attr.valueAsMap()}">
                  <div th:if="${value != null and value.size() > 0}">
                    <div th:if="${displayAttr.isMultiLanguage()}">
                      <!-- CLICKABLE LOCALIZED -->
                      <div th:if="${value.containsKey(#locale.getLanguage()) and url != null}">
                        <a th:href="${url}" th:text="${value.get(#locale.getLanguage())}">LOCALIZED MAP VALUE</a>
                      </div>
                      <!-- CLICKABLE -->
                      <div th:if="${value.containsKey(#locale.getLanguage()) and url == null}"
                           th:text="${value.get(#locale.getLanguage())}">LOCALIZED MAP VALUE</div>
                      <!-- CLICKABLE DEFAULT -->
                      <div th:if="${!value.containsKey(#locale.getLanguage()) and url != null}">
                        <a th:href="${url}" th:text="${value.get('en')}">EN MAP VAL</a>
                      </div>
                      <!-- DEFAULT -->
                      <div th:if="${!value.containsKey(#locale.getLanguage()) and url == null}"
                           th:text="${value.getOrDefault('en', '&horbar;')}">EN MAP VAL</div>
                    </div>
                    <div th:unless="${displayAttr.isMultiLanguage()}">
                      <ul>
                        <li th:each="entry: ${value.entrySet()}"
                            th:text="${entry.getKey()} + ' &rarr; ' + ${entry.getValue()}">KEY &rarr; VALUE</li>
                      </ul>
                    </div>
                  </div>
                  <div th:unless="${value != null and value.size() > 0}" class='center'>&horbar;</div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div th:replace="${footer_path} :: footer">
  <div id="footer">
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4 logo">
            <a href="http://www.cesnet.cz/">
              <img src="https://login.cesnet.cz/proxy/module.php/cesnet/res/img/logo-cesnet.png"
                   width="250px">
            </a>
          </div>
          <div class="col-md-8">
            <div class="row">
              <div class="col col-sm-6">
                <h2> OTHER CESNET PROJECTS</h2>
                <ul>
                  <li><a href="https://www.metacentrum.cz/en/Sluzby/index.html">Computing</a></li>
                  <li><a href="https://du.cesnet.cz/en/start">Data storage</a></li>
                  <li><a href="https://meetings.cesnet.cz/?lang=en">Videoconferences</a></li>
                  <li><a href="https://pki.cesnet.cz/en/st-cca-services.html">Certificates</a></li>
                  <li><a href="https://www.cesnet.cz/services/?lang=en">Other services</a></li>
                  <li><a href="https://www.cesnet.cz/cesnet/personal-data-protection/?lang=en">Personal data protection</a></li>
                </ul>
              </div>
              <div class="col col-sm-6">
                <h2>HELPDESK</h2>
                TEL: +420 234 680 222<br>
                GSM: +420 602 252 531<br>
                <a href="mailto:login@cesnet.cz">login@cesnet.cz</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col col-sm-12 copyright">
            © 1991– 2021 | CESNET, z. s. p. o.
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
<!-- JS -->
<script type="text/javascript" src="../static/js/jquery.min.js"
        th:src="@{/res/js/jquery.min.js}"></script>
<script type="text/javascript" src="../static/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" src="../static/js/Chart.min.js"
        th:src="@{/res/js/Chart.min.js}"></script>
<script type="text/javascript"  src="../static/js/list_of_rps.js"
        th:src="@{/res/js/list_of_rps.js}"></script>
</body>
</html>
