<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
  <link th:href="@{/res/css/default.css}" rel="stylesheet" type="text/css"/>
  <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" th:rel="stylesheet" type="text/css"/>
  <th:block th:replace="${header_path} :: header_head"/>
  <link th:href="@{/res/css/warning_page.css}" rel="stylesheet" type="text/css"/>
  <title th:text="${warning_page_header_title}"></title>
</head>
<body>
  <div id="wrap">
    <th:block th:if="${language_bar_enabled}" th:replace="${header_path} :: languagebar"/>
    <th:block th:replace="${header_path} :: header_body"/>
    <div id="content">
        <h3 th:if="${rpEnvironmentValue.equalsIgnoreCase('STAGING')}"
            th:text="#{test_sp_warning_page.warning_text_staging}">Warning text staging</h3>
        <h3 th:if="${rpEnvironmentValue.equalsIgnoreCase('TESTING')}"
            th:text="#{test_sp_warning_page.warning_text_testing}">Warning text testing</h3>
        <a id="submit_button" class="btn btn-lg btn-block btn-primary"
             th:href="@{${returnUrl}}" th:text="#{test_sp_warning_page.continue}">Continue</a>
    </div>
  </div>
  <div th:replace="${footer_path} :: footer"></div>
</body>
</html>
